{% extends 'bootstrap/base.html' %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">Taste Buddy</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('search') }}">Search <span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('history') }}">History</a></li>
                        <li><a href="{{ url_for('review') }}">Add review</a></li>
                        <li><a href="{{ url_for('sign_in') }}">Sign in</a></li>
                        <li><a href="{{ url_for('sign_out') }}">Sign out</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('upload') }}">Upload menu</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% if user %}
        <h1>Hello, {{ user.username }}!</h1>
    {% else %}
        <h1>Hello!</h1>
    {% endif %}
</div>
{% endblock %}