{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="styles.css" />-->
</head>

<style>
div {
    margin-left: 30px;
    margin-right: 100px;
}
</style>

<div>
    {% if user %}
    <h1>Hello, {{ user.username }}! This is the review page.</h1>
    {% else %}
    <h1>This is the review page!</h1>
    {% endif %}
    <p>Here you can rate and review the meals you've eaten.</p>
</div>

<form>
    <div class="form-group">    
        <h3>
            <label for="selecting">Please select the meal you would like to review: </label>
            <select class = "form-control" name = "selecting" id="selecting">
                <option value="meal1"><a>Ramen from Jim's Cookhouse</a></option>
                <option value="meal2"><a>Ramen from Tokyo Ramen</a></option>
                <option value="meal3"><a>Stake Sandwich from The Sandwich Shack</a></option>
                <option value="meal4"><a>Chicken Nuggets from McDonald's</a></option>
            </select>
        </h3>
    </div>
    <br>

    <div>
        <h3>
            <label>Please rate this meal:</label>
        </h3>
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
    </div>
    <br>

    <div class="form-group">
        <h3>
            <label for="textarea">Enter your review here:</label>
        </h3>
        <textarea class="form-control" id="textarea" rows="4"></textarea>
        <br>
        <button type="button" class="btn btn-primary" style="background-color: darkgray;;"><a href="/thanks">Submit</a></button>
    </div>
</form>

{% endblock %}