{% extends "base.html" %}

{% block content %}
<head>
    {{mymap.js}}
</head>

<div class="container">
    {% if user %}
    <h1>Hello, {{ user.username }}! This is the search page.</h1>
    {% else %}
    <h1>This is the search page!</h1>
    {% endif %}
    <div class="row">
        <div class="col-sm-3">
            <form  action="{{ url_for('search') }}" method="post" role="form">
                <div class="form-group">
                    <label for="food">Food</label>
                    <input type="text" class="form-control" id="food" name="food" placeholder="Food" required>
                    <br>
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" name="location" placeholder="Location" required>
                    <br>
                    <label>Radius</label>
                    <select class="form-control" name="radius">
                        <option value="1"><a>1km</a></option>
                        <option value="5"><a>5km</a></option>
                        <option value="10"><a>10km</a></option>
                    </select>
                    <br>
                    <label>Price</label>
                    <br>
                    <select class="form-control" name="price">
                        <option value="$"><a>$</a></option>
                        <option value="$$"><a>$$</a></option>
                        <option value="$$$"><a>$$$</a></option>
                    </select>

                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
        <div class="col-md-9">
            {{mymap.html}}
        </div>
    </div>
    <br>

    <!--<div id="googleMap" style="width:100%;height:400px;">-->
        <!--<script>-->
        <!--function myMap() {-->
        <!--var mapProp= {-->
        <!--center:new google.maps.LatLng(51.508742,-0.120850),-->
        <!--zoom:1,-->
        <!--};-->
        <!--var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);-->
        <!--}-->
        <!--</script>-->

        <!--<script-->
        <!--src="https://maps.googleapis.com/maps/api/js?key=API_KEY_GOES_HERE&callback=myMap">-->
        <!--</script>-->
    <!--</div>-->
</div>
{% endblock %}